.sti {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 50 !important;
    background-color: #262626; 
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}
.relative{
    position:static !important
}