.custom-shape-divider-bottom-1657904637 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0
}

.custom-shape-divider-bottom-1657904637 svg {
    position: relative;
    display: block;
    width: calc(225% + 1.3px);
    height: 40vh; 
    transform: rotateY(180deg);
    z-index: 0
}

.custom-shape-divider-bottom-1657904637 .shape-fill {
    fill: #18181b; 
    z-index: 0
}