#modal {
    animation:unfoldIn .4s cubic-bezier(0.165, 0.840, 0.440, 1) forwards
}

@keyframes unfoldIn {
    0% {
        transform:translateY(1500px) skewX(30deg) scaleX(1.3);
      }
      70% {
        transform:translateX(30px) skewX(0deg) scaleX(.9);
      }
      100% {
        transform:translateX(0px) skewX(0deg) scaleX(1);
      }
    
}
